@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
    font-family:'Red Hat Display', sans-serif;
}

.flex{ 
    display:flex;  
    gap:30px;   
    padding: 20px; 
    background-color: #f0f2f5;  
}

.imgDiv{
    width: 50%;  
    padding: 10px;
    transform: .5s;
    cursor: pointer;
   
}

.firstImg:hover{
    transition: 1.3px;
}
 
.imgDiv>img{  
    width: 100%;
    border-radius: 10px;    
}


.card{
    position: relative;
    width:80%;
    background-color:white;   
    border-radius: 10px;
    margin-top:-150px;    
    left:30px;
    padding:20px;
   
}
.card>div{
    text-align: left;
    width:80%;
}
.card a{
    font-size: 20px;   
    font-weight: 700;
    font-family:'Red Hat Display', sans-serif;
}
.card a:hover{
    text-decoration: underline;
}

.col{  
    gap:10px;
    width:45%;
}
.col hr{
    background-color:#ced0d4;
    height:1.5px;
}

.row{
    display:flex;
    gap:10px;    
}
.row a{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Red Hat Display', sans-serif;
   
}
.row>div{
    text-align: left;
    padding:20px 5px;
    
}
.row a:hover{
    text-decoration: underline;
}
.row img{  
    border-radius: 10px;
   width:200px;   
}

.p{
    display:flex;
    gap:20px;
    color:#5846f6;
    font-weight: 700;
}
.logo img{
    width:15px;
    height:15px;
    color:#606770;
}
.heading{
    font-size: 36px;
    line-height: 44px;
    border:1px solid red;
}
.grid{
    display:flex;
    gap:30px;
}
.grid>div{
    border-radius: 10px;
}
