@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
    font-family:'Red Hat Display', sans-serif;
}
.flex{
    display:flex;
    gap:30px;
    background-color: #fafafa;
    padding:80px;
    position:absolute;
}
.flex img{
    border-radius: 10px;
    width:100%;
   
}
.col{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:40%;
}
.row{
    display:flex;
    gap:10px;
    
}
.row a{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Red Hat Display', sans-serif;
   
}
.row>div{
    text-align: left;
    padding:20px 5px;
    
}
.row a:hover{
    text-decoration: underline;
}
.row img{
    width:400px;
    height:100px;
}
.col hr{
    background-color:#ced0d4;
    height:1.5px;
}
.card{
    width:90%;
    background-color:white;
    border-radius: 10px;
    margin-top:-150px;
    position: relative;
    left:30px;
    padding:20px;
   
}
.card>div{
    text-align: left;
    width:80%;
}
.card a{
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    font-family:'Red Hat Display', sans-serif;
}
.card a:hover{
    text-decoration: underline;
}
.p{
    display:flex;
    gap:20px;
    color:#5846f6;
    font-weight: 700;
}
.logo img{
    width:15px;
    height:15px;
    color:#606770;
}
.heading{
    font-size: 36px;
    line-height: 44px;
    border:1px solid red;
}
.grid{
    display:flex;
    gap:30px;
}
.grid>div{
    border-radius: 10px;
}
.main{
    display:flex;
    flex-direction: column;
}