.first
{
    height: 750px;
    width: 99%;
    border:  1px solid #24282f;
    background-color:#24282f;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    
  
}
.text{
    font-size: 20px;
    font-family: sans-serif;
}
.firsta{
    color: white;
    height: 550px;
    width: 400px;
    /* border:  1px solid red; */
    margin-left: -30px;
    display:flex;
    flex-direction: column;
    text-align: left;
    row-gap: 20px;
    margin-top: 90px
   
    
  
  
}
.firstb{
    color: white;
    height: 450px;
    width: 550px;
    /* border:  1px solid red; */
    margin-left: -130px;
    margin-top: 200px;

}
.h6m{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 28px;
}
.h3m
{
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    margin-top: -10px;
}
.h5m
{
    font-size: 28px;
    line-height: 30px;
    font-family: sans-serif;
    margin-top: 10px;
}
.btnm
{
    height: 70px;
    width:180px;
    border: 1px solid blue;
    border-radius: 35px;
    background-color: #5846f6;
    font-size: larger;
    margin-top: 30px;
}
.h1m
{
    font-size: 30px;
    margin-top: 50px;
}
.imm
{
    height: 100px;
    width: 85%;
    /* border:  1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.h3mm
{
    font-size: 47px;
    color: #24282f;
    font-weight: 700;
    margin-top: 100px;
}
.h5mm
{
    font-size: 29px;
    margin-top: 10px;
}
.vm
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
    width: 80%;
    row-gap: 60px;
    margin-top: 70px;
}
.vb
{
    border-radius: 20px;
}
.avm
{
    height: 1000px;
    width: 100%;
    border:  1px solid #24282f;
    background-color:#24282f;
    margin-top: 130px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: -60px;
    row-gap: 50px;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    
}
.avm1
{
height: 380px;
width: 400px;
/* border: 1px solid red; */
/* margin-top: 100px;
margin-left: 100px; */
text-align: left;
color: white;

}

.avm2
{
font-size: 30px;
font-weight: 700;
}
.avm3
{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.avm4
{
height: 600px;
width: 80%;
/* border: 1px solid red; */
margin: auto;
margin-top: 140px;
display: flex;
padding: 30px;
}
.avm5
{
    font-size: 45px;
    font-weight: 600;
}
.avm6
{
    height: 400px;
    width: 530px;
    /* border:  1px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin-left: 50px;
    
}
.avm7
{
    font-size: 19px;
    font-weight: 600;
}
.avm9
{
    height: 750px;
    width: 99%;
    border:  1px solid #24282f;
    background-color:#24282f;
    display: flex;
    margin-top: 150px;
    color: white;
    padding-top: 100px;
    gap: 60px;
    padding-left: 200px;
    padding-right: 200px;

}
.avm10
{
    height: 550px;
    width: 550px;
    /* border:  1px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}
.avm11
{
    font-size: 37px;
    font-weight: 700;
}
.avm12
{
    height: 400px;
    width: 630px;
    /* border:  1px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin-left: 50px;
    
}
.avm13
{
    height: 500px;
    width: 630px;
    /* border: 1px solid red; */
    margin-top: 130px;

}
.avm14
{
    height: 450px;
    width: 99%;
    border:  1px solid #24282f;
    background-color:#24282f;
    margin-top: 260px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
    padding: 70px 30px 30px 30px;
    text-align: left;
}
.avm14>div{
    height: 200px;
    width: 430px;
    /* border:  1px solid red; */
}
.avm14 h2{
    font-size: 22px;
}
.avm14 h1{
    font-size: 22px;
}
.avm14 img{
height: 100px;
width: 100px;
border-radius: 55px;
margin-top: 40px;
}
.avm15
{
    height: 100px;
    width: 300px;
    /* border: 1px solid red; */
    display: flex;
}
.avm16
{
    height: 100px;
    width: 200px;
    margin-top: 40px;
    margin-left: 15px;
}
.avm17
{
    height: 100px;
    width: 90%;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;

}
.avm17 button
{
    height: 50px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 15px;
    color: blue;
    font-weight: 500;
}
.avm17 button:hover
{
    background-color: blue;
    color: white;
    text-decoration: underline;
    font-weight: 500;
}
.vm1
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: auto;
    width: 90%;
    row-gap: 60px;
    margin-top: 70px;
    padding: 15px;
}
.avm18
{
    height: 200px;
    width: 38%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 150px;
}
.avm18 h1{
    font-size: 40px;
    font-weight: 700;
}
.avm18 h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}

.avm19
{
    height: 200px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
    margin-top: 90px;
   padding: 30px 200px 30px 120px;
   margin-left: 170px;
}
.avm19 div{
    height: auto;
    width: 300px;
    /* border: 1px solid red; */
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.avm19 img{
    border-radius: 10px;
}
.avm19 h1{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}
.avm19 h2{
    font-size: 28px;
    margin-top: 20px;
    margin-left: 40px;
}
.avm19 h3{          
    font-size: 22px;
    margin-top: 55px;
margin-right: 20px;
    text-align: right;
    color: blue;
    cursor: pointer;
}
.avm20
{
    height: 300px;
    width: 80%;
   margin: 400px 160px;
   border-radius: 10px;
   position: relative;

}
.avm20 img{
    border-radius: 17px;
    position:absolute;
}
.avm20 h1{
    border-radius: 17px;
    position: absolute;
    top: 50px;
    left: 170px;
    height: 200px;
    width: 70%;
    font-size: 50px;
    color: white;
     
}
.avm20 h5{
    border-radius: 17px;
    position: absolute;
    top: 200px;
    left: 170px;
    height: 200px;
    width: 70%;
    font-size: 30px;
    color: white;
   
    
   
}
.avm20 button{
    border-radius: 30px;
    position: absolute;
    top: 370px;
    left: 450px;
    border: 1px solid white;
    font-size: 30px;
    color: white;
    background-color: white;
    color: black;
    padding: 5px;
   
    
   
}







